$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$second-accent-color: #ffffff;
$third-accent-color: #188ce8;
$background-color: #ffffff;
$second-background-color: #f5f4fa;
$third-background-color: #2f303a;
$background-hero-color: #c4c4c4;
$icons-color: #afb1b8;
// $soc-icons: 'instagram', 'twitter', 'facebook', 'linkedin';
// $benefits-icons: 'details', 'punctuality', 'planning', 'technology';
